In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
 
%matplotlib inline

In [78]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,BatchNormalization
from tensorflow.keras import regularizers
from tensorflow.keras.callbacks import Callback, EarlyStopping, ReduceLROnPlateau

In [128]:
train_data = pd.read_csv("/content/sample_data/Hackathon/train_s3TEQDk.csv")
train_data.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [129]:
test_data = pd.read_csv("/content/sample_data/Hackathon/test_mSzZ8RL.csv")
test_data.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            Yes              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...             No              215949        No
3  TT8RPZVC    Male   29  ...             No              868070        No
4  SHQZEYTZ  Female   29  ...             No              657087        No

[5 rows x 10 columns]

In [130]:
train_data.describe()

                 Age        Vintage  Avg_Account_Balance        Is_Lead
count  245725.000000  245725.000000         2.457250e+05  245725.000000
mean       43.856307      46.959141         1.128403e+06       0.237208
std        14.828672      32.353136         8.529364e+05       0.425372
min        23.000000       7.000000         2.079000e+04       0.000000
25%        30.000000      20.000000         6.043100e+05       0.000000
50%        43.000000      32.000000         8.946010e+05       0.000000
75%        54.000000      73.000000         1.366666e+06       0.000000
max        85.000000     135.000000         1.035201e+07       1.000000

In [131]:
train_data.Is_Lead.unique()

array([0, 1])

In [132]:
train_data.dtypes

ID                     object
Gender                 object
Age                     int64
Region_Code            object
Occupation             object
Channel_Code           object
Vintage                 int64
Credit_Product         object
Avg_Account_Balance     int64
Is_Active              object
Is_Lead                 int64
dtype: object

In [133]:
for col in ['Gender','Region_Code','Occupation','Channel_Code','Vintage','Credit_Product']:
  print(col, train_data[col].unique(),train_data[col].nunique())

Gender ['Female' 'Male'] 2
Region_Code ['RG268' 'RG277' 'RG270' 'RG282' 'RG261' 'RG265' 'RG283' 'RG254' 'RG269'
 'RG257' 'RG279' 'RG280' 'RG252' 'RG284' 'RG259' 'RG281' 'RG258' 'RG266'
 'RG260' 'RG274' 'RG256' 'RG275' 'RG273' 'RG267' 'RG272' 'RG251' 'RG262'
 'RG264' 'RG278' 'RG276' 'RG263' 'RG250' 'RG255' 'RG253' 'RG271'] 35
Occupation ['Other' 'Salaried' 'Self_Employed' 'Entrepreneur'] 4
Channel_Code ['X3' 'X1' 'X2' 'X4'] 4
Vintage [ 43  32  26  19  33  20  13  38  49 123  14  31  57  69  97  15  63  21
  99  56  87  62  55 103 104  93  61  91  27  39  50  45  25 117  80  81
  73  67 109  92 122  75  79 121 111 116  85 115  86  37  74 110  44   9
  68  51  98 105 127 129 133   8   7 128 135 134] 66
Credit_Product ['No' nan 'Yes'] 2

In [134]:
#df[df.isna().any(axis=1)].shape
train_data.columns[train_data.isnull().any()],test_data.columns[test_data.isnull().any()]

(Index(['Credit_Product'], dtype='object'),
 Index(['Credit_Product'], dtype='object'))

In [135]:
train_data['Credit_Product'].fillna(train_data['Credit_Product'].mode()[0], inplace =True)
test_data['Credit_Product'].fillna(test_data['Credit_Product'].mode()[0], inplace =True)
train_data.columns[train_data.isnull().any()],test_data.columns[test_data.isnull().any()]

(Index([], dtype='object'), Index([], dtype='object'))

In [136]:
categorical_columns = train_data.select_dtypes(exclude=["number"]).columns.drop('ID')
categorical_columns

Index(['Gender', 'Region_Code', 'Occupation', 'Channel_Code', 'Credit_Product',
       'Is_Active'],
      dtype='object')

In [137]:
train_data.set_index('ID',inplace=True)
test_data.set_index('ID',inplace=True)
#train_data.drop('ID',axis=1,inplace=True)
#test_data.drop('ID',axis=1,inplace=True)

In [138]:
Y_train = train_data[['Is_Lead']]
X_train = train_data.drop('Is_Lead', axis='columns')
X_test = test_data

X_train.head(),Y_train.head(), X_test.head()

(          Gender  Age Region_Code  ... Credit_Product Avg_Account_Balance  Is_Active
 ID                                 ...
 NNVBBKZB  Female   73       RG268  ...             No             1045696         No
 IDD62UNG  Female   30       RG277  ...             No              581988         No
 HD3DSEMC  Female   56       RG268  ...             No             1484315        Yes
 BF3NC7KV    Male   34       RG270  ...             No              470454         No
 TEASRWXV  Female   30       RG282  ...             No              886787         No

 [5 rows x 9 columns],           Is_Lead
 ID
 NNVBBKZB        0
 IDD62UNG        0
 HD3DSEMC        0
 BF3NC7KV        0
 TEASRWXV        0,           Gender  Age Region_Code  ... Credit_Product Avg_Account_Balance  Is_Active
 ID                                 ...
 VBENBARO    Male   29       RG254  ...            Yes              742366         No
 CCMEWNKY    Male   43       RG268  ...             No              925537         No
 VK3KGA9M    Male   31       RG270  ...             No              215949         No
 TT8RPZVC    Male   29       RG272  ...             No              868070         No
 SHQZEYTZ  Female   29       RG270  ...             No              657087         No

 [5 rows x 9 columns])

In [139]:
X_train.shape,Y_train.shape, X_test.shape

((245725, 9), (245725, 1), (105312, 9))

In [140]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
# prepare input data
def prepare_inputs(X_train, X_test):
	oe = OrdinalEncoder()
	oe.fit(X_train)
	X_train_enc = oe.transform(X_train)
	X_test_enc = oe.transform(X_test)
	return X_train_enc, X_test_enc

# prepare target
def prepare_targets(y_train):
	le = LabelEncoder()
	le.fit(y_train)
	y_train_enc = le.transform(y_train)
	#y_test_enc = le.transform(y_test)
	return y_train_enc#, y_test_enc

In [141]:
X_train[categorical_columns], X_test[categorical_columns] = prepare_inputs(X_train[categorical_columns], X_test[categorical_columns])
X_train.head()

          Gender  Age  ...  Avg_Account_Balance  Is_Active
ID                     ...
NNVBBKZB     0.0   73  ...              1045696        0.0
IDD62UNG     0.0   30  ...               581988        0.0
HD3DSEMC     0.0   56  ...              1484315        1.0
BF3NC7KV     1.0   34  ...               470454        0.0
TEASRWXV     0.0   30  ...               886787        0.0

[5 rows x 9 columns]

In [142]:
X_test.head()

          Gender  Age  ...  Avg_Account_Balance  Is_Active
ID                     ...
VBENBARO     1.0   29  ...               742366        0.0
CCMEWNKY     1.0   43  ...               925537        0.0
VK3KGA9M     1.0   31  ...               215949        0.0
TT8RPZVC     1.0   29  ...               868070        0.0
SHQZEYTZ     0.0   29  ...               657087        0.0

[5 rows x 9 columns]

In [143]:
for col in ['Gender','Region_Code','Occupation','Channel_Code','Vintage','Credit_Product']:
  print(col, X_train[col].unique(),X_train[col].nunique())

Gender [0. 1.] 2
Region_Code [18. 27. 20. 32. 11. 15. 33.  4. 19.  7. 29. 30.  2. 34.  9. 31.  8. 16.
 10. 24.  6. 25. 23. 17. 22.  1. 12. 14. 28. 26. 13.  0.  5.  3. 21.] 35
Occupation [1. 2. 3. 0.] 4
Channel_Code [2. 0. 1. 3.] 4
Vintage [ 43  32  26  19  33  20  13  38  49 123  14  31  57  69  97  15  63  21
  99  56  87  62  55 103 104  93  61  91  27  39  50  45  25 117  80  81
  73  67 109  92 122  75  79 121 111 116  85 115  86  37  74 110  44   9
  68  51  98 105 127 129 133   8   7 128 135 134] 66
Credit_Product [0. 1.] 2

In [144]:
X_train_copy =  X_train.copy()
X_test_copy =  X_test.copy()

In [ ]:
X_train =  X_train_copy.copy()
X_test =  X_test_copy.copy()

In [120]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_train

array([[0.        , 0.80645161, 0.52941176, ..., 0.        , 0.09920475,
        0.        ],
       [0.        , 0.11290323, 0.79411765, ..., 0.        , 0.0543206 ,
        0.        ],
       [0.        , 0.53225806, 0.52941176, ..., 0.        , 0.14166044,
        1.        ],
       ...,
       [0.        , 0.0483871 , 0.91176471, ..., 0.        , 0.06290342,
        0.        ],
       [0.        , 0.08064516, 0.67647059, ..., 0.        , 0.03743159,
        0.        ],
       [1.        , 0.09677419, 0.55882353, ..., 0.        , 0.10729479,
        0.        ]])

In [118]:
# define the model
model = Sequential()
model.add(Dense(10, input_dim=X_train.shape[1], activation='relu', kernel_initializer='he_normal'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, Y_train, epochs=100, batch_size=16, verbose=2)
# evaluate the keras model
#_, accuracy = model.evaluate(X_test_enc, y_test_enc, verbose=0)
print('Accuracy: %.2f' % (accuracy*100))

15358/15358 - 15s - loss: 2924.6692 - accuracy: 0.6271
Epoch 2/100
15358/15358 - 14s - loss: 230.8072 - accuracy: 0.6354
Epoch 3/100
15358/15358 - 14s - loss: 214.3715 - accuracy: 0.6385
Epoch 4/100
15358/15358 - 15s - loss: 218.9323 - accuracy: 0.6413
Epoch 5/100
15358/15358 - 14s - loss: 208.9730 - accuracy: 0.6440
Epoch 6/100

KeyboardInterrupt: ignored

In [117]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,stratify=Y,test_size=0.1,random_state=1)

NameError: ignored

In [ ]:
X_train.shape

(221152, 10)

In [ ]:
Y_test.shape

(24573,)

In [ ]:
#X_train['Credit_Product'].fillna(X_train['Credit_Product'].mode()[0], inplace=True)
#X_train.head()

In [ ]:
#X_train.Credit_Product.replace(('Yes','No'),(1,0),inplace=True)

In [ ]:
def datapreprocess(X_dat):
  X_dat.drop('ID',axis='columns',inplace=True)
  X_dat.Credit_Product.replace(('Yes','No'),(1,0),inplace=True)
  X_dat.Is_Active.replace(('Yes','No'),(1,0),inplace=True)
  X_dat['Credit_Product'].fillna(X_dat['Credit_Product'].mode()[0], inplace=True)
  X_dat = pd.get_dummies(data=X_dat,columns=['Gender','Occupation','Channel_Code'])
  X_dat.drop('Region_Code',axis='columns',inplace=True)
  col_scale = ["Age","Vintage","Avg_Account_Balance"]
  scaler = MinMaxScaler()
  X_dat[col_scale] = scaler.fit_transform(X_dat[col_scale])
  return X_dat

In [ ]:
X_train_prep = datapreprocess(X_train)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
X_train_prep.sample(10)

             Age   Vintage  ...  Channel_Code_X3  Channel_Code_X4
75337   0.080645  0.093750  ...                0                0
144756  0.048387  0.062500  ...                0                0
80801   0.177419  0.148438  ...                0                0
206307  0.064516  0.054688  ...                0                0
236067  0.354839  0.515625  ...                0                0
172865  0.548387  0.296875  ...                1                0
206076  0.048387  0.109375  ...                0                0
20981   0.500000  0.328125  ...                0                0
102513  0.064516  0.046875  ...                0                0
220661  0.370968  0.523438  ...                0                0

[10 rows x 15 columns]

In [ ]:
X_train_prep.describe()

                 Age        Vintage  ...  Channel_Code_X3  Channel_Code_X4
count  221152.000000  221152.000000  ...    221152.000000    221152.000000
mean        0.336466       0.311832  ...         0.279663         0.022794
std         0.239287       0.252607  ...         0.448835         0.149247
min         0.000000       0.000000  ...         0.000000         0.000000
25%         0.112903       0.101562  ...         0.000000         0.000000
50%         0.322581       0.195312  ...         0.000000         0.000000
75%         0.500000       0.515625  ...         1.000000         0.000000
max         1.000000       1.000000  ...         1.000000         1.000000

[8 rows x 15 columns]

In [ ]:
X_train_prep.shape

(221152, 15)

In [ ]:
model1 = Sequential([
                          
                          Dense(16,input_shape=(15,),kernel_regularizer=regularizers.l2(0.001),activation='relu'),
                          Dropout(0.2),
                          Dense(8,kernel_regularizer=regularizers.l2(0.001),activation='relu'),
                          Dropout(0.2),
                          Dense(1,activation='sigmoid')
                          
])

In [ ]:
early_stopping = EarlyStopping(monitor='val_prc',patience=30)
#learning_rate_reduction = ReduceLROnPlateau(factor=0.2,patience=15)

In [ ]:
from tensorflow import keras

In [ ]:
METRICS = [
      keras.metrics.TruePositives(name='tp'),
      keras.metrics.FalsePositives(name='fp'),
      keras.metrics.TrueNegatives(name='tn'),
      keras.metrics.FalseNegatives(name='fn'), 
      keras.metrics.BinaryAccuracy(name='accuracy'),
      keras.metrics.Precision(name='precision'),
      keras.metrics.Recall(name='recall'),
      keras.metrics.AUC(name='auc'),
      keras.metrics.AUC(name='prc', curve='PR'), # precision-recall curve
]

In [ ]:
model1.compile(optimizer='adam',
                  loss='binary_crossentropy',metrics=METRICS)

In [ ]:
history = model1.fit(X_train_prep, Y_train, epochs=100, batch_size=256, validation_split=0.12,
                         callbacks=[early_stopping,tf.keras.callbacks.CSVLogger("results.csv")])

Epoch 1/100
761/761 [==============================] - 6s 4ms/step - loss: 0.5273 - tp: 3135.0000 - fp: 3264.0000 - tn: 145168.0000 - fn: 43046.0000 - accuracy: 0.7620 - precision: 0.4899 - recall: 0.0679 - auc: 0.6830 - prc: 0.3747 - val_loss: 0.4862 - val_tp: 600.0000 - val_fp: 142.0000 - val_tn: 20119.0000 - val_fn: 5678.0000 - val_accuracy: 0.7807 - val_precision: 0.8086 - val_recall: 0.0956 - val_auc: 0.7493 - val_prc: 0.4863
Epoch 2/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4920 - tp: 4991.0000 - fp: 2240.0000 - tn: 146192.0000 - fn: 41190.0000 - accuracy: 0.7768 - precision: 0.6902 - recall: 0.1081 - auc: 0.7348 - prc: 0.4720 - val_loss: 0.4757 - val_tp: 739.0000 - val_fp: 205.0000 - val_tn: 20056.0000 - val_fn: 5539.0000 - val_accuracy: 0.7836 - val_precision: 0.7828 - val_recall: 0.1177 - val_auc: 0.7559 - val_prc: 0.5084
Epoch 3/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4854 - tp: 5916.0000 - fp: 2834.0000 - tn: 145598.0000 - fn: 40265.0000 - accuracy: 0.7785 - precision: 0.6761 - recall: 0.1281 - auc: 0.7410 - prc: 0.4849 - val_loss: 0.4730 - val_tp: 755.0000 - val_fp: 210.0000 - val_tn: 20051.0000 - val_fn: 5523.0000 - val_accuracy: 0.7840 - val_precision: 0.7824 - val_recall: 0.1203 - val_auc: 0.7587 - val_prc: 0.5184
Epoch 4/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4825 - tp: 6001.0000 - fp: 2822.0000 - tn: 145610.0000 - fn: 40180.0000 - accuracy: 0.7790 - precision: 0.6802 - recall: 0.1299 - auc: 0.7448 - prc: 0.4922 - val_loss: 0.4698 - val_tp: 813.0000 - val_fp: 225.0000 - val_tn: 20036.0000 - val_fn: 5465.0000 - val_accuracy: 0.7856 - val_precision: 0.7832 - val_recall: 0.1295 - val_auc: 0.7612 - val_prc: 0.5231
Epoch 5/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4801 - tp: 6079.0000 - fp: 2746.0000 - tn: 145686.0000 - fn: 40102.0000 - accuracy: 0.7798 - precision: 0.6888 - recall: 0.1316 - auc: 0.7475 - prc: 0.4968 - val_loss: 0.4684 - val_tp: 1052.0000 - val_fp: 497.0000 - val_tn: 19764.0000 - val_fn: 5226.0000 - val_accuracy: 0.7844 - val_precision: 0.6791 - val_recall: 0.1676 - val_auc: 0.7628 - val_prc: 0.5248
Epoch 6/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4783 - tp: 6085.0000 - fp: 2630.0000 - tn: 145802.0000 - fn: 40096.0000 - accuracy: 0.7805 - precision: 0.6982 - recall: 0.1318 - auc: 0.7499 - prc: 0.5012 - val_loss: 0.4664 - val_tp: 787.0000 - val_fp: 203.0000 - val_tn: 20058.0000 - val_fn: 5491.0000 - val_accuracy: 0.7854 - val_precision: 0.7949 - val_recall: 0.1254 - val_auc: 0.7651 - val_prc: 0.5295
Epoch 7/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4766 - tp: 6022.0000 - fp: 2279.0000 - tn: 146153.0000 - fn: 40159.0000 - accuracy: 0.7819 - precision: 0.7255 - recall: 0.1304 - auc: 0.7516 - prc: 0.5048 - val_loss: 0.4655 - val_tp: 716.0000 - val_fp: 139.0000 - val_tn: 20122.0000 - val_fn: 5562.0000 - val_accuracy: 0.7852 - val_precision: 0.8374 - val_recall: 0.1140 - val_auc: 0.7663 - val_prc: 0.5316
Epoch 8/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4753 - tp: 6163.0000 - fp: 2321.0000 - tn: 146111.0000 - fn: 40018.0000 - accuracy: 0.7824 - precision: 0.7264 - recall: 0.1335 - auc: 0.7525 - prc: 0.5077 - val_loss: 0.4643 - val_tp: 740.0000 - val_fp: 143.0000 - val_tn: 20118.0000 - val_fn: 5538.0000 - val_accuracy: 0.7859 - val_precision: 0.8381 - val_recall: 0.1179 - val_auc: 0.7674 - val_prc: 0.5328
Epoch 9/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4742 - tp: 6194.0000 - fp: 2326.0000 - tn: 146106.0000 - fn: 39987.0000 - accuracy: 0.7826 - precision: 0.7270 - recall: 0.1341 - auc: 0.7534 - prc: 0.5085 - val_loss: 0.4639 - val_tp: 731.0000 - val_fp: 130.0000 - val_tn: 20131.0000 - val_fn: 5547.0000 - val_accuracy: 0.7861 - val_precision: 0.8490 - val_recall: 0.1164 - val_auc: 0.7676 - val_prc: 0.5344
Epoch 10/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4737 - tp: 6447.0000 - fp: 2598.0000 - tn: 145834.0000 - fn: 39734.0000 - accuracy: 0.7825 - precision: 0.7128 - recall: 0.1396 - auc: 0.7541 - prc: 0.5103 - val_loss: 0.4630 - val_tp: 749.0000 - val_fp: 145.0000 - val_tn: 20116.0000 - val_fn: 5529.0000 - val_accuracy: 0.7862 - val_precision: 0.8378 - val_recall: 0.1193 - val_auc: 0.7683 - val_prc: 0.5353
Epoch 11/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4727 - tp: 6490.0000 - fp: 2517.0000 - tn: 145915.0000 - fn: 39691.0000 - accuracy: 0.7831 - precision: 0.7206 - recall: 0.1405 - auc: 0.7546 - prc: 0.5119 - val_loss: 0.4616 - val_tp: 734.0000 - val_fp: 127.0000 - val_tn: 20134.0000 - val_fn: 5544.0000 - val_accuracy: 0.7863 - val_precision: 0.8525 - val_recall: 0.1169 - val_auc: 0.7679 - val_prc: 0.5348
Epoch 12/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4721 - tp: 6459.0000 - fp: 2436.0000 - tn: 145996.0000 - fn: 39722.0000 - accuracy: 0.7834 - precision: 0.7261 - recall: 0.1399 - auc: 0.7549 - prc: 0.5133 - val_loss: 0.4606 - val_tp: 771.0000 - val_fp: 174.0000 - val_tn: 20087.0000 - val_fn: 5507.0000 - val_accuracy: 0.7859 - val_precision: 0.8159 - val_recall: 0.1228 - val_auc: 0.7688 - val_prc: 0.5364
Epoch 13/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4718 - tp: 6410.0000 - fp: 2480.0000 - tn: 145952.0000 - fn: 39771.0000 - accuracy: 0.7829 - precision: 0.7210 - recall: 0.1388 - auc: 0.7554 - prc: 0.5123 - val_loss: 0.4618 - val_tp: 695.0000 - val_fp: 102.0000 - val_tn: 20159.0000 - val_fn: 5583.0000 - val_accuracy: 0.7858 - val_precision: 0.8720 - val_recall: 0.1107 - val_auc: 0.7675 - val_prc: 0.5336
Epoch 14/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4717 - tp: 6340.0000 - fp: 2260.0000 - tn: 146172.0000 - fn: 39841.0000 - accuracy: 0.7837 - precision: 0.7372 - recall: 0.1373 - auc: 0.7554 - prc: 0.5140 - val_loss: 0.4598 - val_tp: 936.0000 - val_fp: 314.0000 - val_tn: 19947.0000 - val_fn: 5342.0000 - val_accuracy: 0.7869 - val_precision: 0.7488 - val_recall: 0.1491 - val_auc: 0.7681 - val_prc: 0.5361
Epoch 15/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4713 - tp: 6429.0000 - fp: 2395.0000 - tn: 146037.0000 - fn: 39752.0000 - accuracy: 0.7834 - precision: 0.7286 - recall: 0.1392 - auc: 0.7553 - prc: 0.5133 - val_loss: 0.4609 - val_tp: 723.0000 - val_fp: 110.0000 - val_tn: 20151.0000 - val_fn: 5555.0000 - val_accuracy: 0.7865 - val_precision: 0.8679 - val_recall: 0.1152 - val_auc: 0.7687 - val_prc: 0.5382
Epoch 16/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4710 - tp: 6333.0000 - fp: 2247.0000 - tn: 146185.0000 - fn: 39848.0000 - accuracy: 0.7837 - precision: 0.7381 - recall: 0.1371 - auc: 0.7554 - prc: 0.5133 - val_loss: 0.4598 - val_tp: 747.0000 - val_fp: 124.0000 - val_tn: 20137.0000 - val_fn: 5531.0000 - val_accuracy: 0.7869 - val_precision: 0.8576 - val_recall: 0.1190 - val_auc: 0.7688 - val_prc: 0.5376
Epoch 17/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4706 - tp: 6376.0000 - fp: 2291.0000 - tn: 146141.0000 - fn: 39805.0000 - accuracy: 0.7837 - precision: 0.7357 - recall: 0.1381 - auc: 0.7556 - prc: 0.5136 - val_loss: 0.4596 - val_tp: 737.0000 - val_fp: 134.0000 - val_tn: 20127.0000 - val_fn: 5541.0000 - val_accuracy: 0.7862 - val_precision: 0.8462 - val_recall: 0.1174 - val_auc: 0.7677 - val_prc: 0.5358
Epoch 18/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4700 - tp: 6300.0000 - fp: 2219.0000 - tn: 146213.0000 - fn: 39881.0000 - accuracy: 0.7837 - precision: 0.7395 - recall: 0.1364 - auc: 0.7562 - prc: 0.5145 - val_loss: 0.4591 - val_tp: 757.0000 - val_fp: 142.0000 - val_tn: 20119.0000 - val_fn: 5521.0000 - val_accuracy: 0.7866 - val_precision: 0.8420 - val_recall: 0.1206 - val_auc: 0.7679 - val_prc: 0.5367
Epoch 19/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4700 - tp: 6293.0000 - fp: 2286.0000 - tn: 146146.0000 - fn: 39888.0000 - accuracy: 0.7833 - precision: 0.7335 - recall: 0.1363 - auc: 0.7560 - prc: 0.5148 - val_loss: 0.4591 - val_tp: 759.0000 - val_fp: 143.0000 - val_tn: 20118.0000 - val_fn: 5519.0000 - val_accuracy: 0.7867 - val_precision: 0.8415 - val_recall: 0.1209 - val_auc: 0.7688 - val_prc: 0.5372
Epoch 20/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4702 - tp: 6434.0000 - fp: 2347.0000 - tn: 146085.0000 - fn: 39747.0000 - accuracy: 0.7837 - precision: 0.7327 - recall: 0.1393 - auc: 0.7555 - prc: 0.5142 - val_loss: 0.4595 - val_tp: 726.0000 - val_fp: 111.0000 - val_tn: 20150.0000 - val_fn: 5552.0000 - val_accuracy: 0.7866 - val_precision: 0.8674 - val_recall: 0.1156 - val_auc: 0.7695 - val_prc: 0.5387
Epoch 21/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4696 - tp: 6227.0000 - fp: 2094.0000 - tn: 146338.0000 - fn: 39954.0000 - accuracy: 0.7839 - precision: 0.7483 - recall: 0.1348 - auc: 0.7562 - prc: 0.5152 - val_loss: 0.4597 - val_tp: 952.0000 - val_fp: 305.0000 - val_tn: 19956.0000 - val_fn: 5326.0000 - val_accuracy: 0.7878 - val_precision: 0.7574 - val_recall: 0.1516 - val_auc: 0.7679 - val_prc: 0.5377
Epoch 22/100
761/761 [==============================] - 3s 3ms/step - loss: 0.4699 - tp: 6283.0000 - fp: 2342.0000 - tn: 146090.0000 - fn: 39898.0000 - accuracy: 0.7830 - precision: 0.7285 - recall: 0.1361 - auc: 0.7560 - prc: 0.5138 - val_loss: 0.4584 - val_tp: 755.0000 - val_fp: 130.0000 - val_tn: 20131.0000 - val_fn: 5523.0000 - val_accuracy: 0.7870 - val_precision: 0.8531 - val_recall: 0.1203 - val_auc: 0.7697 - val_prc: 0.5400
Epoch 23/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4697 - tp: 6235.0000 - fp: 2160.0000 - tn: 146272.0000 - fn: 39946.0000 - accuracy: 0.7836 - precision: 0.7427 - recall: 0.1350 - auc: 0.7559 - prc: 0.5141 - val_loss: 0.4582 - val_tp: 747.0000 - val_fp: 128.0000 - val_tn: 20133.0000 - val_fn: 5531.0000 - val_accuracy: 0.7868 - val_precision: 0.8537 - val_recall: 0.1190 - val_auc: 0.7691 - val_prc: 0.5383
Epoch 24/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4691 - tp: 6367.0000 - fp: 2245.0000 - tn: 146187.0000 - fn: 39814.0000 - accuracy: 0.7839 - precision: 0.7393 - recall: 0.1379 - auc: 0.7567 - prc: 0.5158 - val_loss: 0.4578 - val_tp: 818.0000 - val_fp: 183.0000 - val_tn: 20078.0000 - val_fn: 5460.0000 - val_accuracy: 0.7874 - val_precision: 0.8172 - val_recall: 0.1303 - val_auc: 0.7701 - val_prc: 0.5399
Epoch 25/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4689 - tp: 6351.0000 - fp: 2281.0000 - tn: 146151.0000 - fn: 39830.0000 - accuracy: 0.7836 - precision: 0.7358 - recall: 0.1375 - auc: 0.7566 - prc: 0.5156 - val_loss: 0.4585 - val_tp: 818.0000 - val_fp: 181.0000 - val_tn: 20080.0000 - val_fn: 5460.0000 - val_accuracy: 0.7874 - val_precision: 0.8188 - val_recall: 0.1303 - val_auc: 0.7693 - val_prc: 0.5390
Epoch 26/100
761/761 [==============================] - 3s 3ms/step - loss: 0.4689 - tp: 6511.0000 - fp: 2411.0000 - tn: 146021.0000 - fn: 39670.0000 - accuracy: 0.7838 - precision: 0.7298 - recall: 0.1410 - auc: 0.7570 - prc: 0.5159 - val_loss: 0.4579 - val_tp: 778.0000 - val_fp: 177.0000 - val_tn: 20084.0000 - val_fn: 5500.0000 - val_accuracy: 0.7861 - val_precision: 0.8147 - val_recall: 0.1239 - val_auc: 0.7690 - val_prc: 0.5375
Epoch 27/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4689 - tp: 6432.0000 - fp: 2247.0000 - tn: 146185.0000 - fn: 39749.0000 - accuracy: 0.7842 - precision: 0.7411 - recall: 0.1393 - auc: 0.7564 - prc: 0.5160 - val_loss: 0.4583 - val_tp: 690.0000 - val_fp: 88.0000 - val_tn: 20173.0000 - val_fn: 5588.0000 - val_accuracy: 0.7861 - val_precision: 0.8869 - val_recall: 0.1099 - val_auc: 0.7687 - val_prc: 0.5383
Epoch 28/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4687 - tp: 6394.0000 - fp: 2343.0000 - tn: 146089.0000 - fn: 39787.0000 - accuracy: 0.7835 - precision: 0.7318 - recall: 0.1385 - auc: 0.7566 - prc: 0.5152 - val_loss: 0.4574 - val_tp: 765.0000 - val_fp: 160.0000 - val_tn: 20101.0000 - val_fn: 5513.0000 - val_accuracy: 0.7862 - val_precision: 0.8270 - val_recall: 0.1219 - val_auc: 0.7691 - val_prc: 0.5387
Epoch 29/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4687 - tp: 6395.0000 - fp: 2309.0000 - tn: 146123.0000 - fn: 39786.0000 - accuracy: 0.7837 - precision: 0.7347 - recall: 0.1385 - auc: 0.7566 - prc: 0.5152 - val_loss: 0.4570 - val_tp: 775.0000 - val_fp: 171.0000 - val_tn: 20090.0000 - val_fn: 5503.0000 - val_accuracy: 0.7862 - val_precision: 0.8192 - val_recall: 0.1234 - val_auc: 0.7692 - val_prc: 0.5396
Epoch 30/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4686 - tp: 6293.0000 - fp: 2223.0000 - tn: 146209.0000 - fn: 39888.0000 - accuracy: 0.7836 - precision: 0.7390 - recall: 0.1363 - auc: 0.7567 - prc: 0.5155 - val_loss: 0.4586 - val_tp: 768.0000 - val_fp: 158.0000 - val_tn: 20103.0000 - val_fn: 5510.0000 - val_accuracy: 0.7864 - val_precision: 0.8294 - val_recall: 0.1223 - val_auc: 0.7698 - val_prc: 0.5387
Epoch 31/100
761/761 [==============================] - 2s 3ms/step - loss: 0.4683 - tp: 6423.0000 - fp: 2247.0000 - tn: 146185.0000 - fn: 39758.0000 - accuracy: 0.7842 - precision: 0.7408 - recall: 0.1391 - auc: 0.7569 - prc: 0.5169 - val_loss: 0.4581 - val_tp: 763.0000 - val_fp: 144.0000 - val_tn: 20117.0000 - val_fn: 5515.0000 - val_accuracy: 0.7868 - val_precision: 0.8412 - val_recall: 0.1215 - val_auc: 0.7704 - val_prc: 0.5403